In [2]:
import json
import pandas as pd
import regex as re

In [3]:
data = "{'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}"
data = data.replace("'",'"')
#convert to dictionary
converted_data = json.loads(data)

#iterate through dictionary (row) and get values
row_values = [v for k, v in converted_data.items()]
print(row_values)

[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr']

In [4]:
string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"

In [5]:
#extract 4 digits
contact_id = re.findall(r'(\d{4})', string_data)
print(contact_id)

['4661']

In [12]:
pd.set_option('max_colwidth',200)
contact = pd.read_csv('contacts_string_data.csv')
contact.head()

                                                               contact_info
0   contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr
1          contact_id 3765 name Mariana Ellis email mariana.ellis@rossi.org
2            contact_id 4187 name Sofie Woods email sofie.woods@riviere.com
3  contact_id 4941 name Jeanette Iannotti email jeanette.iannotti@yahoo.com
4        contact_id 2199 name Samuel Sorgatz email samuel.sorgatz@gmail.com

In [15]:
#extract contact IDs
contact['contact_id'] = contact['contact_info'].str.extract(r'(\d{4})')
contact.head()

,contact_info,contact_id
0,contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr,4661
1,contact_id 3765 name Mariana Ellis email mariana.ellis@rossi.org,3765
2,contact_id 4187 name Sofie Woods email sofie.woods@riviere.com,4187
3,contact_id 4941 name Jeanette Iannotti email jeanette.iannotti@yahoo.com,4941
4,contact_id 2199 name Samuel Sorgatz email samuel.sorgatz@gmail.com,2199

In [17]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco']

In [19]:
# Extract the email address using a regular expression pattern. 
email_address = re.findall(r'(\S+@\S+)', string_data)
email_address

['contact_id',
 '4661',
 'name',
 'Cecilia',
 'Velasco',
 'email',
 'cecilia.velasco@rodrigues.fr']